[Unit]
Description=SafeCoin Docker Container
Documentation=https://github.com/Fair-Exchange/safecoin-docker/
Requires=docker.service
After=docker.service

[Service]
RestartSec=10
Restart=always

Environment="NAME=safecoin"
Environment="VOL=safecoin-data"

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull safecoin/safecoin

# Main process
ExecStart=docker run --rm -v $VOL:/safecoin --name=$NAME -d safecoin/safecoin

ExecStop=-docker kill --signal=SIGTERM safecoind

TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
